<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en-US">
<head th:fragment="header">
	<title>HFS Framework</title>
	<meta charset="utf-8" />
	<!-- <meta http-equiv="refresh" content="5" />	-->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<meta name="URL-AUTH-SERVER" th:content="${urlAuthServer}"/>
	<meta name="URL-RESOURCE-SERVER" th:content="${urlResourceServer}"/>
	<meta name="X-AUTH-TOKEN" th:content="${authToken}"/>	
	
	<!-- Custom fonts for this template-->
	<link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
	
	<!-- Custom styles for this template-->
	<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
  
	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<!-- Core plugin JavaScript-->
	<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
	
	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	
	
  	<link rel="stylesheet" type="text/css" th:href="@{/primeui/themes/omega/theme.css}" />
 	<link rel="stylesheet" type="text/css" th:href="@{/primeui/site.css}" />
 	<link rel="stylesheet" type="text/css" th:href="@{/primeui/jquery-ui.css}" />
 	<link rel="stylesheet" type="text/css" th:href="@{/primeui/perfect-scrollbar.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/primeui/icons/css/font-awesome.css}" />
	<script type="text/javascript" th:src="@{/primeui/jquery.js}"></script>
	<script type="text/javascript" th:src="@{/primeui/jquery-ui.js}"></script>
	<script type="text/javascript" th:src="@{/primeui/perfect-scrollbar.js}"></script>
 
	<!-- Dependencies of some widgets -->
	<script type="text/javascript" th:src="@{/primeui/plugins/plugins-all.js}"></script>
	
	<!-- Mustache for templating support -->
	<script type="text/javascript" th:src="@{/primeui/plugins/mustache.min.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/primeui/primeui.min.css}" />
 	<script type="text/javascript" th:src="@{/primeui/primeui.min.js}"></script>
 	<script type="text/javascript" th:src="@{/primeui/x-tag-core.min.js}"></script>
 	<script type="text/javascript" th:src="@{/primeui/primeelements.js}"></script>

	<link rel="stylesheet" th:href="@{/vendor/sidebar/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/vendor/sidebar/jquery.mCustomScrollbar.min.css}" />
	<script th:src="@{/vendor/popper/popper.min.js}"></script>
	<script th:src="@{/vendor/sidebar/jquery.mCustomScrollbar.concat.min.js}"></script>
 	
	<link rel="stylesheet" type="text/css" th:href="@{/css/system.css}" />

 	<script th:src="@{/js/hfsframework/hfsframework-system-util.js}"></script>
  
</head>
<body>
</body>
</html>
