<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments/header :: header">
<title th:text="#{about.title}"></title>
</head>
<body>
<div class="wrapper">
	<div th:replace="private/menu-sidebar :: menu-sidebar"></div>
	<div id="content">
		<div th:replace="private/menu-horizontal :: menu-horizontal"></div>
		<div class="web-content">
<!-- =================================================================================== -->	

<div class="web-content">
	<hr>

	<h1><span th:text="#{main.framework}" th:remove="tag"></span>&nbsp;<span th:text="#{main.app.title}" th:remove="tag"></span></h1>
	<br>
	<h2><span th:text="#{about.developedBy}" th:remove="tag"></span>&nbsp;Henrique Figueiredo de Souza</h2>
	<br>
	<h2>
		<span th:text="#{about.version}" th:remove="tag"></span>&nbsp;
		<span th:text="#{build.version}" th:remove="tag"></span>&nbsp;
		<span th:text="#{build.timestamp}" th:remove="tag"></span>
	</h2>
	<br>

	<hr>
	
<div sec:authorize="isAuthenticated()">
URI: <span th:text="${#httpServletRequest.requestURI}"></span>.
Established locale country: <span th:text="${#locale.country}"></span>.
<br>
    Logged user: <span sec:authentication="name">Henrique</span> |
<br>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>
    <br>
    <!-- When using CSRF this needs to be a POST */-->
    <form th:action="@{/logout}" method="post" style="display:inline"><input type="submit" value="Logout"/></form>
    
</div>

<div sec:authorize="hasRole('ADMIN') or hasRole('USER')">
    <p>Must have ROLE_ADMIN or ROLE_USER</p>
</div>

<div sec:authorize="hasRole('USER')">
	<p>Text visible to role user.</p>
</div>

<div sec:authorize="hasRole('ADMIN')">
	<p>Text visible to role admin.</p>
</div>
	
</div>

<!-- =================================================================================== -->

		</div>
	</div>
</div>

<div class="overlay"></div>
	
</body>
</html>
