<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>
<body>
<div class="wrapper">
	<div th:replace="private/menu-sidebar :: menu-sidebar"></div>
	<div id="content">
		<div th:replace="private/menu-horizontal :: menu-horizontal"></div>
		<div class="web-content">
<!-- =================================================================================== -->		

	<form id="formEditAdmProfile" action="#" th:action="@{/private/admProfileView}" method="post" th:object="${bean}">
	
		<div class="card">
			<div class="card-header" 
				style="font-weight: bold;font-size: large;">
				<span th:text="#{editAdmProfile.title}" th:remove="tag"></span>
			</div>
			<div class="card-body">				
				<div class="form-actions">				
					<button type="submit" class="btn btn-success btn-icon-split" id="btnSave">
						<span class="icon text-white-50">
							<i class="fa fa-check-circle"></i>
						</span>
						<span class="text" th:text="#{button.save}"></span>
					</button>
								
					<button type="reset" class="btn btn-light btn-icon-split" id="btnReset">
	                    <span class="icon text-gray-600">
	                      <i class="fa fa-eraser"></i>
	                    </span>
						<span class="text" th:text="#{button.reset}"></span>
					</button>

					<button type="button" class="btn btn-primary btn-icon-split" id="btnCancel">
						<span class="icon text-white-50"> 
							<i class="fa fa-times-circle"></i>
						</span>	
						<span class="text" th:text="#{button.cancel}"></span>
					</button>
				</div>				
				<div class="row">
					<div class="col-md-4 form-group">
						<input type="hidden" id="admProfile_id" th:field="*{id}" />
						
						<label for="admProfile_description"><span th:text="#{editAdmProfile.description}" th:remove="tag"></span></label>
						<input type="text" class="form-control" id="admProfile_description" maxlength="64" required="required" th:field="*{description}" />
						<span style="color: red;" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
					</div>
				</div>
				
				<div class="row">	
					<div class="col-md-5">
						<label for="admProfile_pickListAdmUsers"><span th:text="#{editAdmProfile.pickListAdmUsers}" th:remove="tag"></span></label>
						<div id="admProfile_pickListAdmUsers" class="picklistBigger">
						    <select name="admProfile_sourceAdmUsers" multiple="multiple">
						        <option th:each="itemAdmUser : ${listSourceAdmUsers}" 
						        	th:value="${itemAdmUser.id}" 
						        	th:text="${itemAdmUser.name}" >
						        </option>
						    </select>
						    
							<select id="admProfile_targetAdmUsers" multiple="multiple" th:field="*{admUsers}" >
								<option th:each="admUser : ${listTargetAdmUsers}"
										th:value="${admUser.id}"
										th:text="${admUser.name}">
								</option>
							</select>
						</div>
					</div>
				</div>
								
				<div class="row">	
					<div class="col-md-5">
						<label for="admProfile_pickListAdmPages"><span th:text="#{editAdmProfile.pickListAdmPages}" th:remove="tag"></span></label>
						<div id="admProfile_pickListAdmPages" class="picklistBigger">
						    <select name="admProfile_sourceAdmPages" multiple="multiple">
						        <option th:each="itemAdmPage : ${listSourceAdmPages}" 
						        	th:value="${itemAdmPage.id}" 
						        	th:text="${itemAdmPage.description}" >
						        </option>
						    </select>
						    
							<select id="admProfile_targetAdmPages" multiple="multiple" th:field="*{admPages}" >
								<option th:each="page : ${listTargetAdmPages}"
										th:value="${page.id}"
										th:text="${page.description}">
								</option>
							</select>
						</div>
					</div>
				</div>				
				
			</div>
		</div>
	</form>	

<span id="editAdmProfile-message-sourceCaptionUsers" th:text="#{editAdmProfile.sourceCaptionUsers}" style="display: none"></span>
<span id="editAdmProfile-message-targetCaptionUsers" th:text="#{editAdmProfile.targetCaptionUsers}" style="display: none"></span>

<span id="editAdmProfile-message-sourceCaptionPages" th:text="#{editAdmProfile.sourceCaptionPages}" style="display: none"></span>
<span id="editAdmProfile-message-targetCaptionPages" th:text="#{editAdmProfile.targetCaptionPages}" style="display: none"></span>
 
<script th:src="@{/js/admin/admProfile/editAdmProfile.js}"></script>

<!-- =================================================================================== -->

		</div>
	</div>
</div>

<div class="overlay"></div>

</body>
</html>
