<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	lang="en-US">
<head th:replace="fragments/header :: header">
</head>	
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  		<a class="navbar-brand" id="anchorHomePage" th:href="@{'/login.html'}">
  			<span th:text="#{main.framework}"></span>&nbsp;
  			<span th:text="#{main.app.title}"></span>
  		</a>
	</nav>

	<div th:if="${loginError}" class="alert alert-danger alert-dismissible">
  		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>	  	
	  	<span th:text="#{login.wrongUser}" th:remove="tag"></span>
	</div>

	<div th:replace="fragments/alertMessages :: alertMessages"></div>
	
	<div class="container-fluid" style="margin: 0 auto; width:400px; position: float;">
		<div id="tela-login" style="margin-top: 20px;">
			<div class="card" id="tela-login">
				<div class="card-header" style="font-weight: normal;"><span th:text="#{login.title}" th:remove="tag"></span></div>
				<div class="card-body">
				
					<form name="formLogin" th:action="@{/login.html}" method="POST">
								
						<div class="form-group">
							<label for="username"><span th:text="#{login.username}" th:remove="tag"></span></label>
							<div class="input-group">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" disabled="disabled">
										<i class="fas fa-user fa-sm"></i>
									</button>
								</div>	
								<input type="text" class="form-control" name="username" id="username" autofocus required="required" 
									th:placeholder="#{login.username.placeholder}" />
							</div>
						</div>
						<div class="form-group">
							<label for="password"><span th:text="#{login.password}" th:remove="tag"></span></label>
							<div class="input-group">
								<div class="input-group-append">
									<button class="btn btn-primary" type="button" disabled="disabled">
										<i class="fas fa-lock fa-sm"></i>
									</button>	
								</div>	
								<input type="password" class="form-control" name="password" id="password" required="required"
									th:placeholder="#{login.password.placeholder}" autocomplete="off" />
							</div>
						</div>
						<div class="form-group">
							<label for="remember-me"><span th:text="#{login.rememberme}" th:remove="tag"></span></label>						
							<input type="checkbox" name="remember-me" id="remember-me" />
						</div>
						<div class="form-group">
							<div style="margin: 0 auto; width:40%">
								<button type="submit" class="btn btn-success btn-icon-split" id="btnLogin">
									<span class="icon text-white-50">
										<i class="fa fa-sign-in" aria-hidden="true"></i>
									</span>
									<span class="text" th:text="#{login.button}"></span>
								</button>
							</div>
						</div>
					
					</form>	
					
				</div>
				
				<!-- 
				<div class="card-footer">
					<a id="anchorForgotPassword" href="#" style="float: left;"><span th:text="#{login.forgotPassword}"></span></a>
					
					<button type="button" class="btn btn-primary btn-icon-split" id="btnBecomeMember" style="float: right;">
						<span class="text" th:text="#{login.becomeMember}"></span>								
					</button>
			    </div>
			     -->
			     						
			</div>
		</div>	
	</div>

	<div th:replace="fragments/footer :: footer"></div>
<!-- 	
	<script th:src="@{/js/hfsframework/hfsframework-login.js}"></script>
	
	<div th:replace="fragments/becomeMember :: becomeMember"></div>
	
	<div th:replace="fragments/forgotPassword :: forgotPassword"></div>
 -->	
</body>
</html>
