<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
<title th:text="#{sessionExpired.title}"></title>
</head>
<body>

<div class="wrapper">
	<div th:replace="private/menu-sidebar :: menu-sidebar"></div>
	<div id="content">
		<div th:replace="private/menu-horizontal :: menu-horizontal"></div>
		<div class="web-content">
<!-- =================================================================================== -->	

	<div class="web-content">
		<div class="row-fluid">
			<div class="jumbotron">
				<h2><span th:text="#{sessionExpired.text}" th:remove="tag"></span></h2>
				<a class="btn btn-primary btn-large" th:href="@{/logout}"><span th:text="#{sessionExpired.backLogin}" th:remove="tag"></span></a>
			</div>
		</div>
	</div>

<!-- =================================================================================== -->

		</div>
	</div>
</div>

<div class="overlay"></div>

</body>
</html>
	